extends layout

block content
  div.container-fluid
    div.row-fluid
      div.search-box
        if(error==true)
          h3#errorstat This place does not exist. Please try again.
        form.search-form(action="/search", method="post")
          input.input-xxlarge.search-query(type="text", placeholder="Find city...", name="city", id="city")

          br
          button.btn.btn-primary.search-button(type="submit") Search
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbjWBf6HYAhNcEyNFfxU2qdh6fzw7HJ5Y&libraries=places&sensor=true"></script>
  script
    var defaultBounds = new google.maps.LatLngBounds(new google.maps.LatLng(-15, 35),new google.maps.LatLng(50,75));
    var options = {bounds: defaultBounds,types:['(cities)']};
    var autocomplete = new google.maps.places.Autocomplete(document.getElementById('city'), options);
