!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="http://code.jquery.com/jquery-latest.min.js")
    script(type='text/javascript', src='/js/bootstrap.min.js')
    
    if(background==true) 
      link(rel='stylesheet', href='/stylesheets/index.css')
      script(type='text/javascript', src='/js/cursor.js')
    
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") Home
          div.nav-collapse.collapse
            form.pull-right.search-form(action="/search", method="post")
              input.right-search.input-large.search-query(type="text", placeholder="Find city...", name="city", id="city")
              ul.nav
                each city in cities
                  li
                    a(href='search?city=#{city}')= city
                  li 


    block content
    


