extends layout

block content
  div.container-fluid
   div.row-fluid
    div#map_canvas.span8
    div#result.span4
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbjWBf6HYAhNcEyNFfxU2qdh6fzw7HJ5Y&libraries=places&sensor=true"></script>
    script
      var map;
      var service;
      var infowindow = new google.maps.InfoWindow;
      var events = [];

      function initialize() {
        var loc = new google.maps.LatLng(#{lat}, #{lng});
        map = new google.maps.Map(document.getElementById("map_canvas"),
          {
            center: loc,
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.HYBRID
          });
        
        var request = {
          location: loc,
          radius: 5000
        };

        service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, callback);
      }

      function callback(result, status)
      {
        var resultelem = document.getElementById('result');
        resultelem.innerHTML = "<div class=\"list-heading\"><h3>#{city}</h3><div>";
        if(status == google.maps.places.PlacesServiceStatus.OK)
          for(var i=0; i<min(result.length, 10); i++)
          {
            events.push(result[i]);
            createMarker(i);
      }

      function distance(a, b)
      {
        var R = 6371; // km
        var dLat = (a.lat-b.lat).toRad();
        var dLon = (a.lng-b.lng).toRad();
        var lat1 = b.lat.toRad();
        var lat2 = a.lat.toRad();

        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
                Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); 
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
        return (R * c);
      }

      function createMarker(place)
      {
        place = events[i];
        var placeLoc = place.geometry.location;
        var goldStar = {
        path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
        fillColor: "PINK",
        fillOpacity: 0.8,
        scale: 6,
        strokeColor: "PURPLE",
        strokeWeight: 2
        };

        var marker = new google.maps.Marker({
          map: map,
          icon:goldStar,
          position: placeLoc
        });
        
        var type = place.types[0];
        for(var i=1;i<place.types.length;i++)
          type = type + ", " + place.types[i];

        var rating = "";
        if(typeof(place.rating) !== "undefined")
          rating = "Rating: " + place.rating + "<br/> ";

        var resultelem = document.getElementById('result');
        resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "Type: " + type + "</p></div>";

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /> Type:" + type);
          infowindow.open(map, this);
        });
      }

      function min(a, b)
      {
        if(a<b)
          return a;
        else
          return b;
      }

      initialize();