extends layout

block content
  div.container-fluid
   div.row-fluid
    div#map_canvas.span8
    div#result.span4.offset8
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbjWBf6HYAhNcEyNFfxU2qdh6fzw7HJ5Y&libraries=places&sensor=true"></script>
    script
      var map;
      var service;
      var events = [];
      var numberOfMarkers = 10;
      var infowindow = new google.maps.InfoWindow;

      function initialize() {
        var loc = new google.maps.LatLng(#{lat}, #{lng});
        map = new google.maps.Map(document.getElementById("map_canvas"),
          {
            center: loc,
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.HYBRID
          });
        
        var request = {
          location: loc,
          radius: 5000
        };

        service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, callback);
      }

      function callback(result, status)
      {
        var resultelem = document.getElementById('result');
        resultelem.innerHTML = "<div class=\"list-heading\"><h3>#{city}</h3><div><button id=\"path\">Find Shortest Path</button>";
        if(status == google.maps.places.PlacesServiceStatus.OK)
          for(var i=0; i<min(result.length, numberOfMarkers); i++)
          {
            events.push(result[i]);
            createMarker(result[i]);
          }
        $('#path').click(function(){
          var dir = new google.maps.DirectionsService();
          dir.route({
            destination: events[0].name,
            optimizeWaypoints: true,
            origin: events[1].name,
            travelMode: google.maps.TravelMode.DRIVING,
            waypoints: [{location: events[2].name}, {location: events[3].name}, {location: events[4].name}]
          }, function(res, status)
          {
            if(status!=="OK")
              alert("something went wrong! " + status);
            else
            {
              var mapren = google.maps.DirectionsRenderer({
                directions: res,
                draggable: true,
                map: map,
                panel: document.getElementById("result")
              });
            }
          });
        });
      }

      function createMarker(place)
      {
        var placeLoc = place.geometry.location;
        var goldStar = {
        path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
        fillColor: "PINK",
        fillOpacity: 0.8,
        scale: 8,
        strokeColor: "PURPLE",
        strokeWeight: 2
        };

        var marker = new google.maps.Marker({
          map: map,
          icon:goldStar,
          position: placeLoc
        });
     
        var type = place.types[0];
        

        var rating = "";
        if(typeof(place.rating) !== "undefined")
          rating = "Rating: " + place.rating + "<br/> ";

        var resultelem = document.getElementById('result'); 
        deciding_img = place.types[0];
        for(var i=1;i<place.types.length;i++)
          {
            if(deciding_img==="museum"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"museum\" src=\"/img/museum.jpg\"/></div>";
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /> Type: <img name=\"museum\" src=\"/img/museum.jpg\"/>");
              infowindow.open(map, this);
              });
            }//end if
            if(deciding_img==="park"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"park\" src=\"/img/park.png\"/></div>";
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /> <img name=\"park\" src=\"/img/park.png\"/>");
              infowindow.open(map, this);
            });}
            //end if
            if(deciding_img==="lodging"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"lodging\" src=\"/img/hotels.png\"/></div>";
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /> <img name=\"lodging\" src=\"/img/hotels.png\"/>");
              infowindow.open(map, this);
            });}//end if
            if(deciding_img==="restaurant") {
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"restaurant\" src=\"/img/icon43.png\"/></div>"; 
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /><img name=\"restaurant\" src=\"/img/icon43.png\"/>");
              infowindow.open(map, this);
            });}//end if
            if(deciding_img==="bar"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"bar\" src=\"/img/bar.png\"/></div>"; 
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /><img name=\"bar\" src=\"/img/bar.png\"/>" );
              infowindow.open(map, this);
            });}//end if
            if(deciding_img==="book_store"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"book_store\" src=\"/img/bookstore_icon_up.png\"/></div>"; 
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /><img name=\"book_store\" src=\"/img/bookstore_icon_up.png\"/>" );
              infowindow.open(map, this);
            });}//end if
            if(deciding_img==="movie_theater"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"movie_theater\" src=\"/img/movie-theater.png\"/></div>"; 
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /><img name=\"movie-theater\" src=\"/img/movie-theater.png\"/>" );
              infowindow.open(map, this);
            });}//end if
            if(deciding_img==="cafe"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"cafe\" src=\"/img/cafe.png\"/></div>"; 
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /><img name=\"cafe\" src=\"/img/cafe.png\"/>" );
              infowindow.open(map, this);
            });}//end if
            if(deciding_img==="stadium"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"stadium\" src=\"/img/Stadium.bmp\"/></div>"; 
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /><img name=\"stadium\" src=\"/img/Stadium.bmp\"/>" );
              infowindow.open(map, this);
            });}//end if
            if(deciding_img==="food"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"food\" src=\"/img/food.jpg\"/></div>"; 
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /><img name=\"food\" src=\"/img/food.jpg\"/>" );
              infowindow.open(map, this);
            });}//end if
            if(deciding_img==="electronics_store"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"electronics_store\" src=\"/img/elec.png\"/></div>"; 
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /><img name=\"electronics_store\" src=\"/img/elec.png\"/>" );
              infowindow.open(map, this);
            });}//end if
            if(deciding_img==="store"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"store\" src=\"/img/store.png\"/></div>"; 
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /><img name=\"store\" src=\"/img/store.png\"/>" );
              infowindow.open(map, this);
            });}//end if
            if(deciding_img==="establishment"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"est\" src=\"/img/establishment.jpg\"/></div>"; 
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /><img name=\"est\" src=\"/img/establishment.jpg\"/>" );
              infowindow.open(map, this);
            });}//end if
            if(deciding_img==="locality"){
              resultelem.innerHTML = resultelem.innerHTML + "<div class=\"hero-unit\"><h5>" + place.name + "</h5><p>" + rating + "</p><img name=\"locality\" src=\"/img/locality.png\"/></div>"; 
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(place.name + "<br />Rating: " +  place.rating + "<br /><img name=\"locality\" src=\"/img/locality.png\"/>" );
              infowindow.open(map, this);
            });}//end if
            deciding_img = deciding_img + ", " + place.types[i];
          }//fo
      }

      function min(a, b)
      {
        if(a<b)
          return a;
        else
          return b;
      }

      initialize();
      
