body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
.hero-unit {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
a {
  color: #00b7ff;
}
.search-box {
  text-align: center;
  margin-top: 250px;
  font-weight: bold;
}
.search-button {
  margin-top: 10px;
}
div#map_canvas {
  height: 550px;
}
h3#errorstat {
  color: #a02422;
}
