body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image:url('/img/manmap.gif')
  background-repeat:repeat

a
  color: #00B7FF

.search-box
  text-align: center
  margin-top: 250px
  font-size: 1.3em;

.search-button
  margin-top: 10px

div#map_canvas
  height: 550px